html 
    head 
        title Video Horror Stats Admin Login
        script(src="public/scripts/admin/login.js")
    body 
        h1 Video Horror Stats 
        h2 Admin Login 
        
        p API Key: 
            input#keyInput(type="text")
        button(onclick="TryLogin()") Login
