link(href="public/styles/disclaimer.css" rel="stylesheet")
h3#DISCLAIMERTEXT Video Horror Stats is in no way affiliated with Hellbent Games. It is a fan project built with love. All assets from Video Horror Society are property of Hellbent Games. Video Horror Stats is a creation by Kyle Starr (<a href="http://kylestarr.tech">http://kylestarr.tech</a>)
div.mobile-header-extension