link(href="public/styles/footer.css" rel="stylesheet")
script(src="public/scripts/footer.js" type="text/javascript" onload="main()")

hr.headerDivider
button#BACKTOTOP(onclick='window.scrollTo(0, 0);') BACK TO TOP
