link(href="public/styles/header.css" rel="stylesheet")
script(src="public/scripts/header.js" type="text/javascript")

div#header
    img.RoleButton(id="teenRoleButton", onmouseenter="HighlightButton('teen')", onmouseleave="UnhighlightButton('teen')", src="public/images/header/teen/base.png", width="150px", alt="Teen")
    img.RoleButton(id="monsterRoleButton", onmouseenter="HighlightButton('monster')", onmouseleave="UnhighlightButton('monster')", src="public/images/header/monster/base.png", width="150px", alt="Monster")