link(href="public/styles/header.css" rel="stylesheet")
script(src="public/scripts/header.js" type="text/javascript" onload="main()")

div#header
    img#MainLogo(class="MainButton", src="public/images/logos/logo-small-nofx.png", onmouseenter="HighlightLogo(true)", onmouseleave="HighlightLogo(false)", onclick="UpdateSelectedPage(0)")
    img.RoleButton(id="teenRoleButton", onmouseenter="HighlightButton('teen')", onmouseleave="UnhighlightButton('teen')", src="public/images/header/teen/base.png", width="150px", alt="Teen", onclick="UpdateSelectedPage(1)")
    img.RoleButton(id="monsterRoleButton", onmouseenter="HighlightButton('monster')", onmouseleave="UnhighlightButton('monster')", src="public/images/header/monster/base.png", width="150px", alt="Monster", onclick="UpdateSelectedPage(2)")
    img.RoleButton(id="soundsRoleButton", onmouseenter="HighlightButton('sounds')", onmouseleave="UnhighlightButton('sounds')", src="public/images/header/sounds/base.png", width="150px", alt="Sounds", onclick="UpdateSelectedPage(3)")
    img.RoleButton(id="journeyRoleButton", onmouseenter="HighlightButton('journey')", onmouseleave="UnhighlightButton('journey')", src="public/images/header/journey/base.png", width="150px", alt="Journey", onclick="UpdateSelectedPage(4)")
    img.RoleButton(id="kofiRoleButton", onmouseenter="HighlightButton('kofi')", onmouseleave="UnhighlightButton('kofi')", src="public/images/header/kofi/base.png", width="150px", alt="Journey", onclick="window.open('https://ko-fi.com/SHADERSOP', '_blank');")
hr#headerDivider