script(src="public/scripts/home.js" type="text/javascript" class="bodyscript")
link(href="public/styles/home.css" rel="stylesheet")

h1#TitleCard Welcome, Horror Friends.

h2#SubtitleCard Video Horror Stats is the one-stop shop for <a href="https://vhsgame.com/">Video Horror Society</a> number nerds!

hr

p Any stats one might need for Video Horror Society, whether it's the speed a player moves while firing a Holy Staff or the lunge speed of Deathwire in Vehicle Mode - those numbers are here! 
p Feel free to peruse the site, and check out some more of my stuff over at <a href="http://kylestarr.tech/">kylestarr.tech</a>.