doctype html 
html 
    head 
        title Video Horror Stats (VHS)
        link(href="public/styles/index.css" rel="stylesheet")
    body 
        img#MainLogo(src="public/images/logos/logo.png" width="300px")
        include header
        div#contentpanel
            h1#ContentType Sounds
            include sounds