doctype html 
html 
    head 
        title Video Horror Stats (VHS)
        link(href="public/styles/index.css" rel="stylesheet")
        script(src="public/scripts/index.js")
    body(onload="main()")
        include header
        h1#ContentType HOME
        div#contentpanel
            