doctype html 
html 
    head 
        title Video Horror Stats (VHS)
        link(href="public/styles/index.css" rel="stylesheet")
        link(href="public/styles/teen.css" rel="stylesheet")
        link(href="public/styles/monster.css" rel="stylesheet")
        script(src="public/scripts/index.js")
        script(src="public/scripts/monster.js")
    body(onload="mainMonster()")
        include header
        h1#ContentType MONSTER STATS
        div#ToolTip
        button.MonsterSelect(onclick="UpdateSelectedCategory(0)")
            img(src="public/images/monster/werewolf.png" height="125px")
        button.MonsterSelect(onclick="UpdateSelectedCategory(1)")
            img(src="public/images/monster/wart.png" height="125px")
        button.MonsterSelect(onclick="UpdateSelectedCategory(2)")
            img(src="public/images/monster/dollmaster.png" height="125px")
        div#contentpanel