doctype html 
html 
    head 
        title Video Horror Stats (VHS)
        link(href="public/styles/index.css" rel="stylesheet")
        link(href="public/styles/teen.css" rel="stylesheet")
        script(src="public/scripts/index.js")
        script(src="public/scripts/monster.js")
    body(onload="main()")
        include header
        h1#ContentType MONSTER STATS
        div#contentpanel
            