doctype html 
html 
    head 
        title Sounds - Video Horror Stats
        link(href="public/styles/index.css" rel="stylesheet")
        link(href="public/styles/sounds.css" rel="stylesheet")
        script(src="public/scripts/index.js")
        script(src="public/scripts/sounds.js")
    body(onload="main()")
        include header
        h1#ContentType SOUNDS
        div#contentpanel
            div.MonsterHeader
                button.MonsterSelect(onclick="SelectID(0)")
                    img(src="public/images/monster/werewolf.png" height="125px")
                button.MonsterSelect(onclick="SelectID(1)")
                    img(src="public/images/monster/wart.png" height="125px")
                button.MonsterSelect(onclick="SelectID(2)")
                    img(src="public/images/monster/dollmaster.png" height="125px")
                button.MonsterSelect(onclick="SelectID(3)")
                    img(src="public/images/monster/deathwire2.png" height="125px")

            div#WOLFAudio(class="SoundSection")
                h2.SoundHeaderText WEREWOLF
                    h3 Base: 
                        audio(controls)
                            source(src="data/sounds/werewolf/tension/base.ogg" type="audio/ogg")
                    h3 Close: 
                        audio(controls)
                            source(src="data/sounds/werewolf/tension/close.ogg" type="audio/ogg")
                    h3 Closer: 
                        audio(controls)
                            source(src="data/sounds/werewolf/tension/closer.ogg" type="audio/ogg")
                    h3 Alarmed: 
                        audio(controls)
                            source(src="data/sounds/werewolf/tension/alarmed.ogg" type="audio/ogg")
                    h3 Chased: 
                        audio(controls)
                            source(src="data/sounds/werewolf/tension/chased.ogg" type="audio/ogg")

            div#TOADAudio(hidden class="SoundSection")
                h2.SoundHeaderText W.A.R.T.
                    h3 Base: 
                        audio(controls)
                            source(src="data/sounds/wart/tension/base.ogg" type="audio/ogg")
                    h3 Close: 
                        audio(controls)
                            source(src="data/sounds/wart/tension/close.ogg" type="audio/ogg")
                    h3 Closer: 
                        audio(controls)
                            source(src="data/sounds/wart/tension/closer.ogg" type="audio/ogg")
                    h3 Alarmed: 
                        audio(controls)
                            source(src="data/sounds/wart/tension/alarmed.ogg" type="audio/ogg")
                    h3 Chased: 
                        audio(controls)
                            source(src="data/sounds/wart/tension/chased.ogg" type="audio/ogg")

            div#DLMRAudio(hidden class="SoundSection")
                h2.SoundHeaderText DOLL MASTER
                button.MonsterTypeSelect(onclick="SelectMonsterType(0)")
                    img(src="public/images/monster/dollmaster.png" height="125px")
                button.MonsterTypeSelect(onclick="SelectMonsterType(1)")
                    img(src="public/images/monster/doll.png" height="125px")
                div#BODYAudio
                    h3 Base: 
                        audio(controls)
                            source(src="data/sounds/dollmaster/tension/base.ogg" type="audio/ogg")
                    h3 Close: 
                        audio(controls)
                            source(src="data/sounds/dollmaster/tension/close.ogg" type="audio/ogg")
                    h3 Closer: 
                        audio(controls)
                            source(src="data/sounds/dollmaster/tension/closer.ogg" type="audio/ogg")
                    h3 Alarmed: 
                        audio(controls)
                            source(src="data/sounds/dollmaster/tension/alarmed.ogg" type="audio/ogg")
                    h3 Chased: 
                        audio(controls)
                            source(src="data/sounds/dollmaster/tension/chased.ogg" type="audio/ogg")
                div#DOLLAudio(hidden) 
                    h3 Base (Doll): 
                        audio(controls)
                            source(src="data/sounds/dollmaster/tension/doll_base.ogg" type="audio/ogg")
                    h3 Close (Doll): 
                        audio(controls)
                            source(src="data/sounds/dollmaster/tension/doll_close.ogg" type="audio/ogg")
                    h3 Closer (Doll): 
                        audio(controls)
                            source(src="data/sounds/dollmaster/tension/doll_closer.ogg" type="audio/ogg")
                    h3 Alarmed (Doll): 
                        audio(controls)
                            source(src="data/sounds/dollmaster/tension/doll_alarmed.ogg" type="audio/ogg")
                    h3 Chased (Doll): 
                        audio(controls)
                            source(src="data/sounds/dollmaster/tension/doll_chased.ogg" type="audio/ogg")

            div#ERADAudio(hidden class="SoundSection")
                h2.SoundHeaderText DEATHWIRE
                    h3 Base: 
                        audio(controls)
                            source(src="data/sounds/deathwire/tension/base.ogg" type="audio/ogg")
                    h3 Close: 
                        audio(controls)
                            source(src="data/sounds/deathwire/tension/close.ogg" type="audio/ogg")
                    h3 Closer: 
                        audio(controls)
                            source(src="data/sounds/deathwire/tension/closer.ogg" type="audio/ogg")
                    h3 Alarmed: 
                        audio(controls)
                            source(src="data/sounds/deathwire/tension/alarmed.ogg" type="audio/ogg")
                    h3 Chased: 
                        audio(controls)
                            source(src="data/sounds/deathwire/tension/chased.ogg" type="audio/ogg")