doctype html 
html 
    head 
        title Video Horror Stats (VHS)
        link(href="public/styles/index.css" rel="stylesheet")
        link(href="public/styles/teen.css" rel="stylesheet")
        script(src="public/scripts/index.js")
        script(src="public/scripts/teen.js")
    body(onload="mainTeen()")
        include header
        h1#ContentType TEEN STATS
        div#ToolTip
        div#contentpanel


            