doctype html 
html 
    head 
        title Weapons - Video Horror Stats
        link(href="public/styles/index.css" rel="stylesheet")
        link(href="public/styles/teen.css" rel="stylesheet")
        link(href="public/styles/weapons.css" rel="stylesheet")
        script(src="public/scripts/index.js")
        script(src="public/scripts/weapons.js")
    body(onload="mainWeapons()" onmousemove="getCursorPosition(event)")
        include header
        h1#ContentType WEAPON STATS
        div#ToolTip(hidden="")
        div.StigmaFlexContainer
            div.WeaponFlexContainer(id="burn-flex")
                div#burn-stigma-image(class="WeaponImage StigmaImage")
                    img.StigmaImageSrc(src="public/images/stigmas/burn.png")
                div.StigmaIconDivider
                div#flamethrower-btn(class="WeaponImage WeaponBtn")
                    img.StigmaImageSrc(src="public/images/weapons/burn/flamethrower.png")
                div#firebomb-btn(class="WeaponImage WeaponBtn")
                    img.StigmaImageSrc(src="public/images/weapons/burn/firebomb.png")
                div#solarflare-btn(class="WeaponImage WeaponBtn")
                    img.StigmaImageSrc(src="public/images/weapons/burn/solarflare.png")
            div.WeaponFlexContainer(id="purify-flex")
                div#purify-stigma-image(class="WeaponImage StigmaImage")
                    img.StigmaImageSrc(src="public/images/stigmas/purify.png")
                div.StigmaIconDivider
                div#radiantcross-btn(class="WeaponImage WeaponBtn")
                    img.StigmaImageSrc(src="public/images/weapons/purify/radiantcross.png")
                div#holyslingshot-btn(class="WeaponImage WeaponBtn")
                    img.StigmaImageSrc(src="public/images/weapons/purify/holyslingshot.png")
                div#sacredstaff-btn(class="WeaponImage WeaponBtn")
                    img.StigmaImageSrc(src="public/images/weapons/purify/sacredstaff.png")
            div.WeaponFlexContainer(id="shock-flex")
                div#shock-stigma-image(class="WeaponImage StigmaImage")
                    img.StigmaImageSrc(src="public/images/stigmas/shock.png")
                div.StigmaIconDivider
                div#raygun-btn(class="WeaponImage WeaponBtn")
                    img.StigmaImageSrc(src="public/images/weapons/shock/raygun.png")
                div#rccopter-btn(class="WeaponImage WeaponBtn")
                    img.StigmaImageSrc(src="public/images/weapons/shock/rccopter.png")
                div#shocksphere-btn(class="WeaponImage WeaponBtn")
                    img.StigmaImageSrc(src="public/images/weapons/shock/shocksphere.png")
            div.WeaponFlexContainer(id="curse-flex")
                div#curse-stigma-image(class="WeaponImage StigmaImage")
                    img.StigmaImageSrc(src="public/images/stigmas/curse.png")
                div.StigmaIconDivider
                div#cursedsword-btn(class="WeaponImage WeaponBtn")
                    img.StigmaImageSrc(src="public/images/weapons/curse/cursedsword.png")
                div#infernaleye-btn(class="WeaponImage WeaponBtn")
                    img.StigmaImageSrc(src="public/images/weapons/curse/infernaleye.png")
                div#enigma-btn(class="WeaponImage WeaponBtn")
                    img.StigmaImageSrc(src="public/images/weapons/curse/enigma.png")
        div#contentpanel
        include footer
        include disclaimer