doctype html 
html 
    head 
        title Video Horror Stats (VHS)
        link(href="public/styles/index.css" rel="stylesheet")
        script(src="public/scripts/index.js")
    body(onload="main()")
        include header
        h1#ContentType WORK IN PROGRESS
        div#contentpanel
            h1#ContentSubheader Your interest is appreciated! This page is currently a work in progress - stay tuned on our social channels for more information!