.twitchembed {
    margin-left: auto;
    margin-right: auto;
}

#featuregrid {
    width: 100%;
}

#creatorgrid {
    width: 100%;
}

.CreatorCard {
    width: 90%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #31003180;
    border-style: solid;
    border-radius: 20px ;

    padding: 20px 20px 20px 20px;
}

.CCName {
    text-align: center;
    font-family: 'Oswald';
    font-size: 40px;
    font-style: italic;
    margin-top: 0px;
    color: #ffffff;
    text-shadow: 3px 0px 0px #ff00ff, -3px 0px 0px #00ffff, 0px 0px 15px #ffffff;
    letter-spacing: 7px;
}

.CCLinkHeader {
    text-align: center;
    font-family: 'Oswald';
    font-size: 30px;
    font-style: italic;
    margin-top: 0px;
    color: #ffffff;
    text-shadow: 3px 0px 0px #ff00ff, -3px 0px 0px #00ffff, 0px 0px 15px #ffffff;
    letter-spacing: 7px;
}

.CCLinks {
    width: 100%
}

.CCImg {
    margin-left: auto;
    margin-right: auto;

    border-radius: 100%;
    border-style: solid;
    border-color: #ffffff;
}

.CCLink {
    width: 75px;
    height: 75px;

    cursor: pointer;
}