.RoleButton {
    margin: 25px 0px 25px 0px;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;

    cursor: pointer;

    animation: fadeIn 1s;
}

#MainLogo {
    animation: fadeIn 1s;
}

#header {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.headerDivider {
    width: 50%;
    color: #ffffff;
    animation: widen 1s;
}

#MainLogo {
    height: 100px;
    margin-bottom: 50px;
    cursor: pointer;
}

@keyframes widen {
    from { width: 0%; }
    to { width: 50%; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}