.RoleButton {
    margin: 25px 0px 25px 0px;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;

    cursor: pointer;

    animation: fadeIn 1s;
}

#MainLogo {
    animation: fadeIn 1s;
}

#header {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.headerDivider {
    width: 50%;
    color: #ffffff;
    animation: widen 1s;
}

#MainLogo {
    height: 100px;
    margin-bottom: 50px;
    cursor: pointer;
}

#banner-notice {
    width: 100%;
    height: max-content;
    background-color: #cc00ff40;

    transition: all 0.25s;
}

#banner-notice:hover {
    cursor: pointer;
    background-color: #cc00ff60;
}

#banner-notice:active {
    background-color: #cc00ff50;
}

#banner-notice h1 {
    margin: 0px;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 2px 0px 0px #ff00ff, -2px 0px 0px #00ffff, 0px 0px 10px #ffffff;
    letter-spacing: 3px;

    padding: 10px;
}

@keyframes widen {
    from { width: 0%; }
    to { width: 50%; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}