@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,700;0,900;1,700;1,900&display=swap');

.TitleCard {
    font-size: 46px;
    font-family: 'Roboto';
    font-weight: 900;
    text-align: center;
    text-shadow: 2px 0px 0px #ff00ff, -2px 0px 0px #00ffff, 0px 0px 10px #ffffff;
    letter-spacing: 5px;
}

#SubtitleCard {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    text-shadow: 1px 0px 0px #ff00ff, -1px 0px 0px #00ffff, 0px 0px 10px #ffffff;
}

.HomeIntroParagraph {
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    text-shadow: 1px 0px 0px #ff00ff, -1px 0px 0px #00ffff, 0px 0px 10px #ffffff;

    margin-left: 10%;
    margin-right: 10%;
}