@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,700;0,900;1,700;1,900&display=swap');

:root {
    --background: #000000;
}

body {
    background: var(--background) url('backgrounds/base.png') fixed top center no-repeat;
    background-size:cover;

    font-family: 'Roboto';
    color: #ffffff;
}

#ContentType {
    text-transform: capitalize;
    text-align: center;
    font-family: 'Oswald';
    font-size: 60px;
    font-style: italic;
    margin-top: 0px;
    color: #ffffff;
    text-shadow: 5px 0px 0px #ff00ff, -5px 0px 0px #00ffff, 0px 0px 15px #ffffff;
    letter-spacing: 10px;
}