@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,700;0,900;1,700;1,900&display=swap');

:root {
    --background: #000000;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background) url('backgrounds/base.png') fixed top center no-repeat;
    background-size:cover;

    font-family: 'Roboto';
    color: #ffffff;
    margin: 0;
}

#ContentType {
    text-transform: capitalize;
    text-align: center;
    font-family: 'Oswald';
    font-size: 60px;
    font-style: italic;
    margin-top: 0px;
    color: #ffffff;
    text-shadow: 5px 0px 0px #ff00ff, -5px 0px 0px #00ffff, 0px 0px 15px #ffffff;
    letter-spacing: 10px;
}

#ContentSubheader {
    text-transform: capitalize;
    text-align: center;
    font-family: 'Oswald';
    font-size: 40px;
    font-style: italic;
    margin-top: 0px;
    color: #ffffff;
    text-shadow: 3px 0px 0px #ff00ff, -3px 0px 0px #00ffff, 0px 0px 15px #ffffff;
    letter-spacing: 7px;
}

.Announcement {
    background-color: #31003160;
    border-style: solid;
    box-shadow: 0px 0px 10px #00eeff80;
    border-radius: 20px;
    border-width: 5px;
    border-color: #00eeff;

    margin-top: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position:relative;
}

.AnnouncementTitle {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 5px;

    letter-spacing: 3px;
    text-shadow: 2px 0px 0px #ff00ff, -2px 0px 0px #00ffff, 0px 0px 10px #ffffff;
}

.AnnouncementDate {
    font-size: 16px;
    font-weight: 100;
    margin-top: 5px;

    letter-spacing: 1px;
    text-shadow: 1px 0px 0px #ff00ff, -1px 0px 0px #00ffff, 0px 0px 5px #ffffff;

}

.AnnouncementDescription p {
    font-size: 20px;
    text-align: center;
    font-weight: 200;
    letter-spacing: 2px;
    text-shadow: 1px 0px 0px #ff00ff, -1px 0px 0px #00ffff, 0px 0px 10px #ffffff;

    margin-left: 10%;
    margin-right: 10%;
}

.AnnouncementDescription h3 {
    font-size: 28px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
    text-shadow: 1px 0px 0px #ff00ff, -1px 0px 0px #00ffff, 0px 0px 10px #ffffff;

    margin-left: 10%;
    margin-right: 10%;
}